body{
    background-color: lightpink;
}
canvas{
    border:2px white;
    border-radius:90px ;
    margin-top: 50px;
    animation-name:colors ;
    animation-duration:4s ;
    animation-iteration-count:infinite ;
}

@keyframes colors{
    from{box-shadow:1px 1px 38px rgb(170, 232, 252);} 
    to{ box-shadow: 1px 1px 38px white;} 
}

h1{
    color:rgb(4, 130, 14);
    background-color: rgb(25, 230, 234);
}
#show_sketch{
float:right;
}

p{
    padding-top:10px ;
    font-size: 25px;
}